In [2]:
import pandas as pd

In [ ]:
data = {
    'EmployeeID': [1, 2, 3, 4],
    'FirstName': ['John', 'Jane', 'Michael', 'Emily'],
    'LastName': ['Doe',None, 'Johnson A 2004', 'Doe'],
    'BirthDate': ['1980-01-15', '1985-03-22', '1990-07-30', '1992-12-05'],
    'HireDate': ['2010-06-01', '2012-09-15', '2015-11-20', '2018-01-10'],
    'JobTitle': ['Software Engineer', 'Project Manager', 'Data Analyst', 'UX Designer'],
    'Salary': [75000.00, 85000.00, 65000.00, 70000.00]
}
tab = pd.DataFrame(data)
# print(tab)
# tab.to_csv('employees.csv', index=False)
# df= pd.read_csv("employees.csv")
# df.head()
# df.isnull().sum()
# df.tail()
# df.describe()
# df['Salary']
# df.iloc[0:2]
# sep=pd.DataFrame(df[df['Salary']>70000])
# print(sep)
# tab.dropna()
# df.fillna("null")
# tab.rename(columns={'EmployeeID':'ID'})
# df.groupby('JobTitle').mean()
# df['Salary'].sum()
# df.head()
# df.isnull().sum()
# print(df.duplicated().sum())
# print(df.dropna().sum())
# print()
# df['salary']=df.groupby('JobTitle')['Salary'].transform(lambda x:x.median())
# df= df.dropna(axis=1,how='all')
# df= df.dropna(subset=['Salary'])
# df["Salary"]=df.groupby("JobTitle")["Salary"].transform(lambda x:x.median())
# df
# df['LastName']=df['LastName'].fillna('Unknown')
# df
# df[['LastName','Firstname']]=df[['LastName','FirstName']].fillna('Unknown')
# tab= tab.drop_duplicates(subset=['LastName'],keep='first')
# print(tab)
# tab.shape
# tab['LastName']=tab['LastName'].str.extract(r'(\b\d{4}\b)').astype(float)
# tab
# tab['LastName']=tab['LastName'].fillna(df['LastName'].mode()[0])
# tab

# bins=[0,50000,75000,100000]
# labels=['Low','Medium','High']

# tab['type']=pd.cut(tab['Salary'],bins=bins,labels=labels)
# tab

In [89]:
# df = pd.read_csv('winemag-data-130k-v2.csv')
# df.shape
# df.head()
# df.isna().sum()
# df = df.dropna()
# df.isna().sum()
# df = df.dropna(subset=['country'])
# df.head()
# df.isna().sum()
# df['country'] = df['country'].dropna()
# df.isna().sum()
# df = df.dropna(subset=['country'])
# df.isna().sum()
# df = df.fillna('Unknown')
# df['price'].value_counts()
# df['price'] = df['price'].fillna(df['price'].mean())
# df = df[df['price'] != 'Unknown']
# un=df['price'].value_counts()['Unknown']
# print(df['price'].value_counts().get('Unknown', 0))

0